#site {
	width: 80%;
	margin: auto;
	box-shadow: 2px 5px 5px 2px #888;
	-moz-box-shadow: 2px 5px 5px 2px #888;
	-webkit-box-shadow: 2px 5px 5px 2px #888;
}

#mainContent {
	min-height: 500px;
}
.navbar-fixed-top {
	position: relative;
}

hr {
	margin-top: 10px;
}
.brand img {

}
#footer-img {
	margin:0 auto;
}
#footer-img, #footer-text {
	padding-bottom: 2px;
}
ul {
	list-style-position: inside;
}

.center {
	text-align: center;
	margin:0 auto;
}
.center .radio {
	display:inline-block;	
}
input[type=text].required, input[type=password].required, textarea.required {
    background: white url(../img/required_star.png) no-repeat 100% 50%;
}

textarea.required {
    background-position: 100% 0;
}

input[type=text].valid, input[type=password].valid, textarea.valid {
    background-image: none;
}