body {
	padding-bottom: 10px;
	font-family: 'Expletus Sans', cursive;
	background-image: url('bg/stardust.png');
}

h1,h2,h3,a.brand {
	font-family: 'Archivo Black', sans-serif;
}
a {
	color: #00AAFF;
}

#site {
	
}

#mainContent {
	min-height: 500px;
	/* 	background-color: #F5F5F5; */
	border: 2px solid;
	/* 	border-radius: 15px; */
	padding: 15px;
	margin-top: 6px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F5F5),
		color-stop(1, #D6D6D6));
	background-image: -o-linear-gradient(bottom, #F5F5F5 0%, #D6D6D6 100%);
	background-image: -moz-linear-gradient(bottom, #F5F5F5 0%, #D6D6D6 100%);
	background-image: -webkit-linear-gradient(bottom, #F5F5F5 0%, #D6D6D6 100%);
	background-image: -ms-linear-gradient(bottom, #F5F5F5 0%, #D6D6D6 100%);
	background-image: linear-gradient(to bottom, #F5F5F5 0%, #D6D6D6 100%);
}

.navbar {
	width: 1200px;
	margin: auto;
	border: 2px solid;
	/* 	border-radius: 15px; */
	margin-top: 5px;
	background-color: rgba(3, 3, 3, 0.46);
}

.navbar-inside {
	padding: 0px 10px 0px 10px;
}

.btn {
	background-image: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

hr {
	margin-top: 10px;
}

.brand img {
	
}

#footer-img {
	margin: 0 auto;
}

#footer-img,#footer-text {
	padding-bottom: 2px;
}

#footer-text {
	color: white;
}

ul {
	list-style-position: inside;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.center .radio {
	display: inline-block;
}

input[type=text].required,input[type=password].required,textarea.required,input[type=email].required
	{
	background: white url(../img/required_star.png) no-repeat 100% 50%;
}

textarea.required {
	background-position: 100% 0;
}

input[type=text].valid,input[type=password].valid,textarea.valid {
	background-image: none;
}

#recaptcha_area {
	margin: 0 auto !important;
}

=======
#recaptcha_area {
	margin: 0 auto !important;
}

.well {
	background-color: #F0F0F0;
}